{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    height: 100vh;
    background: #222;
}
header{
    height: 3.7rem;
    background-color:  white;
}
main {
    height: calc(100% - 3.7rem);
    display: flex;
}

main > nav{
    background: rgb(33, 33, 59);
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(img/sidebar-bg.png);
}

main > section {
    height: 100%;
    width: 90%;
    background: rgb(255, 255, 255);
}
.color-celeste{
    background-color: #317fe4;
}
.fs-7{
font-size: 0.7rem;     
}
.fs-8{
    font-size: 0.9rem;     
}
.p-01{
    padding: 0.1rem;
}
.pm-02{
    padding: 2px 5px 2px 5px;
    margin: 0px 3px 0px 3px;
}
.img_dimensioni{
    width: 1.5rem;
}
.lunghezza_shearc_bar{
    
}
.bell_color{
    color: orange;
    border-color: white;
    background-color: white;
}
.dropdown-menu{
    transform: translate3d(-115px, 40px, 0px);
}




@media  (max-width: 576px){
    
    .lunghezza_shearc_bar{
        width: 15rem;
    }

}
@media  (min-width: 576px){
    
    .lunghezza_shearc_bar{
        width: 32rem;
    }

}
@media  (min-width: 768px){
    
    .lunghezza_shearc_bar{
        width: 30rem;
    }

}
@media  (min-width: 992px){
    
    .lunghezza_shearc_bar{
        width: 40rem;
    }

}
@media  (min-width: 1200px){
    
    .lunghezza_shearc_bar{
        width: 45rem;
    }

}
